<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>1KZC0WwJakXRNiyw15hXTAkG7NiaW64o</string>
    <key>Domain</key>
    <string>dev-p77zu24vjhtaaicl.us.auth0.com</string>
</dict>
</plist>
